<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - Url-Short</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&family=Roboto+Mono&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <head>
        <h1>Url Short</h1>
        <h3>Making url copy & paste easier everyday.</h3>
    </head>
    <main class="container">
        {% block main %}
        {% endblock %}
    </main>
    <footer>Running Url-Short, provided by <strong><a
                href="https://github.com/enchant97">enchant97</a></strong></footer>
</body>

</html>
